@media(max-width:1024px) {
    body{
        height: 100%;
    }
    .content {
        margin: 20px;
        width: 100%;
        height: 90%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .content .left .info .about p {
    padding: 40px 5px;
    }
    .content .rigth .social{
      padding: 40px;
    }
}
@media(max-width:750px) {
    .content .rigth .projects .projects-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .content .rigth .projects .projects-content a {
        height: 150px;
        width: 90%;
    
    } 
    .content .rigth .code {
        background: url(../img/github-wallpaper-scaled.webp)center center no-repeat;
        background-size: 100%;
        height: 150px;
        box-shadow: #000000 1px 1px 20px;
    }
}
